* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #ffc017;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 1000;
}

header img {
    padding-left: 10%;
}

nav {
    padding-right: 10%;
    width: 40%;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

header li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

#btnStart {
    background-color: black;
    width: 7em;
    height: 2.5em;
    border-radius: 2em;
}

#start {
    color: white;
}

#hero {
    background-color: #ffc017;
    display: flex;
}

#heroDiv, #M {
    flex-basis: 50%;
}

#heroDiv {
    padding-left: 10%;
}

h1 {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-size: 8.5em;
    margin-bottom: 0;
}

#hero h2 {
    font-weight: 500;
}

#hero a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

#hero p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 14em;
    height: 2.5em;
    border-radius: 2em;
    margin-top: 8%;
}

#trend {
    display: flex;
    margin-top: 2em;
    margin-left: 7em;
}

#trend h2 {
    margin-left: 0.5em;
} 

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: baseline;
}

.article {
    width: 26%;
    display: flex;
}

.number {
    margin: 0;
    color: #E9E9E9;
    font-size: 2.5em;
    font-weight: bold;
    margin-right: 0.7em;
}

.articleTitle {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.articleTitle h4 {
    margin-left: 0.5em;
}

.articleTitle img {
    height: 2em;
}

.article > div > h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    display: flex;
}

.date p {
    color: #73778F;
    padding-right: 2%;
}

#first span {
    color: #757575;
}

.circle {
    border-radius: 10em;
}

.square {
    border-radius: 0.2em;
}

#first {
    border-bottom: 1px solid #E6E7E7;
    padding-bottom: 2em;
}

#second {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

.article2 {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

.article2 > div {
    margin-right: 2em;
}

.article2 > div > h4 {
    font-size: 2em;
    margin-bottom: 0.2em;
    margin-top: 0;
}

.article2 > div > p {
    color: #73778F;
    margin-top: 0;
    margin-bottom: 0;
}

.date2 {
    display: flex;
    justify-content: space-between;
}

.date2 div {
    display: flex;
}

.date2 p {
    margin-right: 0.4em;
    color: #757575;
}

#container2 {
    width: 50%;
}

#tag {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 5em;
}

#tag h4 {
    margin: 0;
    margin-bottom: 0.6em;
    position: sticky;
    top: 12%;
}

#button {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #E6E7E7;
    padding-bottom: 2em;
    position: sticky;
    top: 15%;
}

#button button {
    background-color: transparent;
    border: 1px solid #E6E7E7;
    color: #73778F;
    font-size: 1.2em;
    border-radius: 0.2em;
    height: 2.5em;
    margin-top: 0.8em;
    margin-right: 0.8em;
}

#link {
    position: sticky;
    top: 37%;
}

#link ul{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0%;
    align-content: space-between;
    height: 3.3em;
}

#link li {
    list-style: none;
    margin-right: 1.5em;
}

#link a {
    text-decoration: none;
    color: #73778F;
}

#second span {
    background-color: #E6E7E7;
    border-radius: 2em;
    padding: 0.5em;
}

.white{
    background-color: white;
}

#green {
    background-color: green;
    width: 7em;
    height: 2.5em;
    border-radius: 2em;
}

@media screen and (max-width: 768px){
    nav {
        width: 90%;
    }

    h1 {
        font-size: 4.5em;
    }

    #hero h2 {
        font-size: 1.2em;
    }

    #heroDiv {
        flex-basis: 60%;
        position: relative;
    }

    #M {
        flex-basis: 40%;
        position: absolute;
        left: 60%;
        top: 10%;
        width: 20em;
    }

    .article {
        width: 40%;
        padding-bottom: 2em;
    }

    #trend {
        margin-left: 4em;
    }

    #second {
        flex-direction: column-reverse;
        font-size: 0.8em;
        margin-right: 6em;
        margin-left: 6em;
    }

    #tag {
        width: 80vw;
    }

    #tag h4{
        position: static;
        font-size: 1.5em;
    }

    #button {
        width: 80vw;
        position: static;
    }

    #link {
        position: static;
    }

    #button button {
        width: max-content;
    }

    #container2 {
        width: 80vw;
    }

    .img {
        width: 20em;
    }
}